* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: #e5e5e5; }

.fix {
  transition: 2s;
  z-index: 5;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: fixed;
  bottom: 10px;
  right: 30px;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); }

.navbar {
  height: 92px; }

.navbar-brand {
  margin-right: 66px; }

.navbar-brand img {
  animation-name: logoAnimate;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-delay: 0.5s; }

.first-ul .nav-item {
  margin-right: 35px; }

.first-ul .contact-li {
  margin-right: 0 !important; }

.first-ul .nav-item .nav-link {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  padding: 0;
  line-height: 19px;
  color: #1C1C33; }

.nav-item .nav-link {
  padding: 0 !important; }

.link-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 28px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 11px;
  background-color: #f7f7f7; }

.last-link-bg {
  margin-right: 0; }

.font-one {
  width: 20px;
  height: 20px;
  right: -5px;
  top: -8px; }

.for-top-text h1 {
  margin-top: 117px;
  font-style: normal;
  font-weight: 600;
  font-size: 80px;
  line-height: 85px;
  letter-spacing: -0.02em;
  color: #1C1C33;
  animation-name: effectText;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-delay: 0.5s; }

.for-top-text h3 {
  margin-top: 17px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #1C1C33; }

.button-a {
  margin-top: 63px; }

.for-top-text button {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  padding: 18px 36px; }

.for-top-text a {
  text-decoration: none;
  margin-left: 72px;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #1C1C33; }

.for-top-text a img {
  width: 7px !important; }

.owl-prev, .owl-next {
  height: 50px;
  width: 50px;
  position: absolute;
  left: -120px;
  top: 50%; }

.owl-next {
  right: -120px;
  left: auto; }

.owl-prev span, .owl-next span {
  display: none; }

.owl-prev, .owl-next {
  background-image: url("../images/Vector (12).svg") !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: contain !important; }

.owl-next {
  background-image: url("../images/Vector (11).svg") !important; }

.owl-theme .owl-nav [class*='owl-']:hover {
  background-color: transparent; }

button:focus {
  outline: none !important;
  box-shadow: none !important; }

header {
  background: #FFFFFF; }

section {
  background: #FAFAFA; }

.owl-theme .owl-dots {
  margin-left: 300px;
  margin-bottom: 43px; }

.owl-theme .owl-dots .owl-dot.active span {
  margin-top: 14px;
  background-image: url("../images/Ellipse 301.svg");
  background-size: cover;
  background-repeat: no-repeat; }

.for-top-img img {
  margin-bottom: 50px; }

.for-top-img h4 {
  bottom: 0;
  right: 14px;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #1C1C33; }

.some-text {
  margin-top: 65px;
  margin-bottom: 30px; }

.some-text h1 {
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.03em;
  color: #1C1C33; }

.some-text a {
  text-decoration: none; }

.some-text a h1 {
  display: inline;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.02em;
  color: #1C1C33; }

.ma-t {
  margin-top: 20px; }

.esho {
  margin-top: 36px; }

.esho button {
  margin-bottom: 80px;
  padding: 18px 85px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px; }

.box {
  margin-bottom: 85px; }

.navbar .first-ul .nav-item .nav-link {
  position: relative; }

.navbar .first-ul .nav-item .nav-link:hover::after {
  width: 100%;
  transition: 0.5s linear; }

.navbar .first-ul .nav-item .nav-link::before {
  content: " ";
  display: block;
  width: 0;
  border-top: 2px solid #3a945b;
  transition: 0.5s linear;
  position: absolute;
  right: 0; }

.navbar .first-ul .nav-item .nav-link::after {
  content: "";
  display: block;
  width: 0;
  border-bottom: 2px solid black;
  transition: 0.5s linear;
  position: absolute; }

.navbar .first-ul .nav-item .nav-link:hover::before {
  width: 100%;
  transition: 0.5s linear; }

.box-img {
  margin-top: 79px;
  width: 80px;
  height: 80px;
  background: #e6faf0;
  border-radius: 50%; }

.box-img img {
  width: 30px; }

.box-text {
  width: 100%; }

.box-text h4 {
  margin-top: 23px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 32px;
  letter-spacing: -0.02em;
  color: #1C1C33; }

#empty, #secondAlert, #thirdAlert {
  display: none; }

.spinner-border {
  width: 20px;
  height: 20px; }

.alert {
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 120; }

.box1 {
  margin-right: 116px; }

.box2 {
  margin-right: 127px; }

.box3 {
  margin-right: 101px; }

.modal-content {
  background: transparent;
  border: none; }

.modalBg {
  margin-top: 10%;
  width: 50%;
  background: linear-gradient(-45deg, #ee7752, #09cc66, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  transition: 0.4s;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 100px;
  border-radius: 50px; }

.input-group .form-control {
  border: 1px solid #1C1C33;
  margin-right: 5px;
  border-radius: 10px !important; }

#thirdAlert {
  z-index: 2000;
  height: 200px;
  width: 400px; }

.log {
  background: transparent !important; }

.onlydesktop .log-in {
  transition: 0.3s;
  border-radius: 50%; }

.onlydesktop .log-in:hover {
  box-shadow: 0 0 15px rgba(9, 204, 102, 0.33) !important; }

.close {
  top: -50px;
  right: -100px; }

label {
  cursor: pointer; }

.submite {
  bottom: -30px;
  right: 15px; }

.modalText {
  color: white; }

.card {
  background-image: linear-gradient(#ffffff 10%, #09CC66 50%);
  background-size: 400% 400%;
  transition: 0.4s; }

.card-header {
  border: 0; }

.card-header img {
  margin-top: 34px; }

.card-body {
  margin-top: 62px; }

.card .card-body h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #1C1C33; }

.last-main {
  background: #FFFFFF; }

.star {
  width: 140px; }

.for-brands {
  margin-bottom: 162px;
  margin-top: 91px; }

.card-footer, .card-body, .card-header {
  background: transparent; }

@keyframes gradient {
  0% {
    background-position: 0 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0 50%; } }
.star-a a {
  border-bottom: 2px dotted #868686;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: #868686; }

.card-body h2 {
  margin-top: 40px;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: -0.02em;
  color: #1C1C33; }

.card-footer {
  margin-top: 15px;
  border: 0; }

.imgs {
  margin-bottom: 30px; }

.two-img {
  padding: 13px 18px;
  width: 122px;
  height: 50px;
  border-radius: 100px;
  background: #f4f4f4; }

.backet-img {
  width: 50px;
  height: 50px;
  background: #09CC66;
  border-radius: 50%;
  transition: 0.3s; }

.backet-img:hover {
  background: #000;
  cursor: pointer; }

.backet-img img {
  width: 24px; }

.echo2 button {
  padding: 18px 40px; }

html {
  scroll-behavior: smooth; }

.shtrix h3 {
  font-size: 22px; }

.card:hover {
  box-shadow: 0 50px 86px rgba(151, 150, 150, 0.51); }

.yellow-green {
  padding: 134px 171px 138px 141px; }

.yellow-green button {
  box-shadow: 0 7px 15px rgba(245, 223, 10, 0.32);
  color: white;
  padding: 23px 66px;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  transition: 0.4s; }

.btn-warning:hover, .btn-success:hover {
  background: #000 !important;
  box-shadow: 0 7px 15px rgba(245, 0, 0, 0.32); }

.green {
  box-shadow: 0 7px 15px rgba(9, 204, 102, 0.33) !important; }

footer {
  background: #FFFFFF;
  padding: 50px 0 57px 0; }

.yellow-green img {
  margin-right: 10px; }

.play-store {
  margin-top: 24px; }

.play-store button {
  padding: 0;
  border: none;
  width: 134.96px;
  height: 50.36px; }

.google-play, .app-store {
  background-image: url("../images/image 168.svg");
  background-size: cover;
  background-repeat: no-repeat; }

.google-play {
  height: 45px !important; }

.app-store {
  background-image: url("../images/image 167 (2).svg"); }

.social {
  margin-top: 84px; }

.last-row {
  margin-top: 49px; }

.footer-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 26px;
  color: #919193; }

.ul p {
  letter-spacing: -0.02em;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
  color: #1C1C33;
  margin-bottom: 32px; }

button:hover {
  color: white !important; }

.ul li a {
  text-decoration: none;
  font-size: 16px;
  line-height: 56px;
  align-items: center;
  color: #c2b5bc;
  transition: 0.4s; }

.ul li a:hover {
  color: #1C1C33; }

.last-button {
  width: 115%;
  color: #FFFFFF;
  padding: 19px 35px;
  background: #919193;
  font-weight: 500;
  font-size: 14px;
  line-height: 26px; }

.last-button img {
  margin-left: 10px; }

.onlymobile {
  display: none; }

.first-img img {
  width: 103% !important; }

.input-group-append {
  z-index: 30;
  padding-top: 5px;
  margin-left: 170px; }

.first-img h3, .second-img h4, .third-img h4 {
  bottom: 15px;
  left: 20px;
  z-index: 15;
  color: white; }

.first-img img, .second-img img, .third-img img, .mobile-phone-img img, .mobile-tv-img img {
  animation-name: imgBlur;
  animation-duration: 6s;
  animation-iteration-count: infinite; }

.first-img img:hover, .second-img img:hover, .third-img img:hover, .mobile-phone-img img:hover, .mobile-tv-img img:hover {
  animation: none; }

.third-img img, .mobile-tv-img img {
  animation-delay: 2s; }

.second-img img, .mobile-phone-img img {
  animation-delay: 4s; }

@keyframes logoAnimate {
  0% {
    transform: scale(1); }
  15% {
    transform: scale(1); }
  30% {
    transform: scale(1.3); }
  50% {
    transform: rotate(360deg); }
  70% {
    transform: scale(1.3); }
  85% {
    transform: scale(1); }
  100% {
    transform: scale(1) rotate(360deg); } }
.btn-success {
  background: #09cc66 !important;
  border: none !important; }

@keyframes effectText {
  50% {
    text-shadow: 5px 0 10px #2c2979; }
  100% {
    text-shadow: none; } }
@keyframes mobileEffectText {
  50% {
    text-shadow: 0 0 10px #2c2979; }
  100% {
    text-shadow: none; } }
@keyframes imgBlur {
  80% {
    filter: blur(5px); }
  100% {
    filter: blur(0); } }
@media (max-width: 576px) {
  .close {
    top: -25px;
    right: -18px; }

  .onlydesktop {
    display: none; }

  .onlymobile {
    display: flex; }

  .mobile-tv-img h4, .mobile-phone-img h4 {
    font-size: 19px;
    bottom: 10px;
    margin: 0 10px;
    z-index: 4;
    color: white; }

  #myCarousel {
    padding: 0 16px; }

  #mobileNav {
    margin-top: 85px;
    z-index: 2;
    border-radius: 10px;
    background: white; }

  #mobileNav .navbar-nav .nav-item .nav-link {
    font-family: Calibri, serif;
    border-radius: 15px;
    background: #09cc66;
    text-align: center;
    color: #1C1C33;
    margin: 5px;
    font-size: 20px;
    padding: 10px !important; }

  .nav-top {
    top: 0;
    height: 100%; }

  .navbar-toggler {
    padding: 0; }

  span img {
    height: 32px; }

  .onlymobile .mobil-heart, .onlymobile .mobil-backet, .onlymobile .nav-link button {
    margin-right: 20px; }

  .mobil-heart, .mobil-backet {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #e5e5e5; }

  .mobil-backet img, .mobil-heart img {
    width: 18px; }

  .owl-theme .owl-dots {
    margin: 0; }

  .owl-prev, .owl-next {
    width: 9.72px;
    height: 15.38px;
    position: absolute;
    left: -5px;
    top: 40%; }

  .owl-next {
    right: -5px;
    left: auto; }

  header {
    background: #FAFAFA;
    border-bottom: 1px solid #e5e5e5; }

  .for-top-img img {
    margin: 0; }

  .for-top-text h1 {
    animation-name: mobileEffectText;
    font-size: 40px;
    line-height: 45px;
    margin-top: 39px; }

  .for-top-text h3 {
    margin-top: 12px;
    font-size: 16px;
    line-height: 29px; }

  .for-top-text .button-a {
    margin: 40px; }

  .for-top-text .button-a a {
    display: block;
    margin-top: 37px;
    margin-left: 0;
    font-size: 18px; }

  .some-text a h1 {
    display: none; }

  .some-text h1 {
    font-size: 30px;
    line-height: 36px; }

  .some-text a p {
    display: inline;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.02em;
    color: #1C1C33; }

  .box1, .box2, .box3, .box4 {
    margin: 0; }

  .box-img {
    margin: 0 auto; }

  .box-text {
    text-align: center; }

  .m-f-r, .m-f-r2 {
    margin-top: 55px; }

  .m-f-r2 {
    margin-bottom: 65px; }

  .box-text h4 {
    margin-top: 17px;
    font-size: 16px;
    line-height: 28px; }

  .card {
    margin-bottom: 20px; }

  .star-a a {
    margin-right: 68px !important; }

  .for-brands {
    margin-bottom: 57px;
    display: block !important; }

  .brend {
    width: 100%;
    text-align: center;
    margin-top: 53px; }

  .yellow-green {
    padding: 80px 0 136px 0;
    align-items: center;
    flex-direction: column; }

  .yellow-green button {
    font-size: 18px;
    line-height: 26px;
    padding: 20px 63px; }

  .yellow-green .btn-warning {
    margin-top: 24px; }

  .last-button {
    margin-top: 40px; }

  .modalBg {
    margin: 98px auto 0 auto;
    height: 350px;
    line-height: 50px;
    width: 75% !important; }
    .modalBg h2 {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 20px; }

  .fix {
    width: 50px;
    height: 50px; }

  .btn-warning img {
    width: 27px;
    height: 27px; }

  .modalForm label img {
    width: 30px !important; }

  .submite {
    bottom: -40px;
    right: 47px; }

  .first-img img {
    width: 100% !important; }

  .fe-search img {
    float: right !important; } }

/*# sourceMappingURL=style.css.map */
