* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: #e5e5e5; }

.navbar {
  height: 92px; }

.navbar-brand {
  margin-right: 66px; }

.navbar-brand img {
  animation-name: logoAnimate;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-delay: 0.5s; }

.first-ul .nav-item {
  margin-right: 35px; }

.first-ul .contact-li {
  margin-right: 0 !important; }

.first-ul .nav-item .nav-link {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  padding: 0;
  line-height: 19px;
  color: #1C1C33; }

.nav-item .nav-link {
  padding: 0 !important; }

.link-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 28px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 11px;
  background-color: #f7f7f7; }

.last-link-bg {
  margin-right: 0; }

.font-one {
  width: 20px;
  height: 20px;
  right: -5px;
  top: -8px; }

.for-top-text h1 {
  margin-top: 117px;
  font-style: normal;
  font-weight: 600;
  font-size: 80px;
  line-height: 85px;
  letter-spacing: -0.02em;
  color: #1C1C33;
  animation-name: effectText;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-delay: 0.5s; }

.for-top-text h3 {
  margin-top: 17px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #1C1C33; }

.button-a {
  margin-top: 63px; }

.for-top-text button {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  padding: 18px 36px; }

.for-top-text a {
  text-decoration: none;
  margin-left: 72px;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #1C1C33; }

.for-top-text a img {
  width: 7px !important; }

.owl-prev, .owl-next {
  height: 50px;
  width: 50px;
  position: absolute;
  left: -120px;
  top: 50%; }

.owl-next {
  right: -120px;
  left: auto; }

.owl-prev span, .owl-next span {
  display: none; }

.owl-prev, .owl-next {
  background-image: url("../images/Vector (12).svg") !important;
  background-repeat: no-repeat !important;
  background-position: center center !important; }

.owl-next {
  background-image: url("../images/Vector (11).svg") !important; }

.owl-theme .owl-nav [class*='owl-']:hover {
  background-color: transparent; }

button:focus {
  outline: none; }

header {
  background: #FFFFFF; }

section {
  background: #FAFAFA; }

.owl-theme .owl-dots {
  margin-left: 300px;
  margin-bottom: 43px; }

.owl-theme .owl-dots .owl-dot.active span {
  margin-top: 14px;
  background-image: url("../images/Ellipse 301.svg");
  background-size: cover;
  background-repeat: no-repeat; }

.for-top-img img {
  margin-bottom: 50px; }

.for-top-img h4 {
  bottom: 0;
  right: 14px;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #1C1C33; }

.some-text {
  margin-top: 65px;
  margin-bottom: 30px; }

.some-text h1 {
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.03em;
  color: #1C1C33; }

.some-text a {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.02em;
  color: #1C1C33;
  text-decoration: none; }

.ma-t-first {
  margin-top: 35px; }

.ma-t {
  margin-top: 20px; }

.esho {
  margin-top: 36px; }

.esho button {
  margin-bottom: 80px;
  padding: 18px 85px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px; }

.box {
  margin-bottom: 85px; }

.box-img {
  margin-top: 79px;
  width: 80px;
  height: 80px;
  background-color: #e7ede4;
  border-radius: 50%; }

.box-img img {
  width: 30px; }

.box-text {
  width: 100%; }

.box-text h4 {
  margin-top: 23px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 32px;
  letter-spacing: -0.02em;
  color: #1C1C33; }

.box1 {
  margin-right: 116px; }

.box2 {
  margin-right: 127px; }

.box3 {
  margin-right: 101px; }

.card {
  transition: 0.4s; }

.card-header {
  background: #FFFFFF;
  border: 0; }

.card-header img {
  margin-top: 34px; }

.card-body {
  margin-top: 62px; }

.card .card-body h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #1C1C33; }

.star {
  width: 140px; }

.for-brands {
  margin-top: 91px; }

.star-a a {
  border-bottom: 2px dotted #868686;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: #868686; }

.card-body h2 {
  margin-top: 40px;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: -0.02em;
  color: #1C1C33; }

.card-footer {
  margin-top: 15px;
  border: 0;
  background: #FFFFFF; }

.imgs {
  margin-bottom: 30px; }

.two-img {
  padding: 13px 18px;
  width: 122px;
  height: 50px;
  border-radius: 100px;
  background: #f4f4f4; }

.backet-img {
  width: 50px;
  height: 50px;
  background: #09CC66;
  border-radius: 50%; }

.backet-img img {
  width: 24px; }

.echo2 button {
  padding: 18px 40px; }

.card:hover {
  box-shadow: 0 50px 86px rgba(151, 150, 150, 0.51); }

@keyframes logoAnimate {
  0% {
    transform: scale(1); }
  15% {
    transform: scale(1); }
  30% {
    transform: scale(1.3); }
  50% {
    transform: rotate(360deg); }
  70% {
    transform: scale(1.3); }
  85% {
    transform: scale(1); }
  100% {
    transform: scale(1) rotate(360deg); } }
@keyframes effectText {
  50% {
    text-shadow: 5px 0 10px #2c2979; }
  100% {
    text-shadow: none; } }

/*# sourceMappingURL=style.css.map */
